<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <title>B4a admin</title>
</head>

<body class="bg-black text-white ">

    <div class="flex items-center justify-center h-screen">
        <form action="/upload" method="post" class=" py-12 rounded-3xl" enctype="multipart/form-data">
            <input type="text" class="bg-gray-900 rounded-3xl placeholder-gray-300 px-12 py-4" placeholder="Book name"
                name="name" id="book_name">
            <input type="text" class="bg-gray-900 rounded-3xl placeholder-gray-300 px-12 py-4" placeholder="Book cover"
                name="cover" id="cover">
            <input type="text" class="bg-gray-900 rounded-3xl placeholder-gray-300 px-12 py-4" placeholder="Book desc"
                name="desc" id="desc">
            <input type="text" class="bg-gray-900 rounded-3xl placeholder-gray-300 px-12 py-4" placeholder="Book author"
                name="author" id="author">
            <input type="text" class="bg-gray-900 rounded-3xl placeholder-gray-300 px-12 py-4" placeholder="Age"
                name="age" id="age">

            <label for="pages">Select pages: </label>
            <input type="file" id="pages" name="pages" multiple>
            <button type="submit" class=" bg-green-400 py-4 px-12 rounded-3xl">Submit</button>
        </form>

    </div>
</body>

</html>
